//- layout.pug
doctype html
html
  head
    title Abhishek Dance Academy
    block scripts
    block style  
  body
    block content
    Footer#footer 
       | Copyright ©2020 AbhishekAcademy.com | All Rights Reserved